<mat-form-field class="w-full">
  <mat-label>Search</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="searchTerm"
    (input)="onSearchChange($event)"
  />
  <button
    *ngIf="searchTerm"
    matSuffix
    mat-icon-button
    aria-label="Clear"
    (click)="searchTerm = ''"
  >
    <mat-icon>close</mat-icon>
  </button>
</mat-form-field>

<div
  class="grid mt-4 grid-flow-row-dense xl:grid-cols-6 md:grid-cols-4 sm:grid-cols-2 gap-4"
>
  <ng-container *ngFor="let item of catalog?.results">
    <mat-card class="max-w-md card">
      <mat-card-header>
        <mat-card-title>
          {{ item.original_title || item.original_name }}
        </mat-card-title>
        <mat-card-subtitle>
          {{ item.release_date || item.first_air_date }}
        </mat-card-subtitle>
      </mat-card-header>
      <img
        class="w-full"
        src="{{ constructImageUrl(item.poster_path) }}"
        alt="{{ item.title }} Poster"
      />
      <mat-card-content class="pt-4 px-4">
        {{ item.overview }}
      </mat-card-content>
      <mat-card-actions class="actions gap-2" align="end">
        <button mat-raised-button color="accent">
          <mat-icon>reviews</mat-icon>
          Add review
        </button>
        <button mat-icon-button [color]="item.favorite ? 'primary' : 'default'">
          <mat-icon>star</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </ng-container>
</div>
